*{
   font-family: 'Questrial', sans-serif;
}

body{
  color:white;
  background-color: DarkTurquoise;
}
h1{
  color: whitesmoke;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;

}
section{
  color: grey;
}